{% extends 'base.html' %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js%22%3E"> </script>
{% block content %}



<nav class="navbar" style="background-color: #9e0f6eb7;">
  <div class="container-fluid">
    <form class="container-fluid justify-content-start">
      <a class="navbar-brand" style="color: aliceblue;" >{{nama}}</a>
      <button><a class="navbar-brand" style="color: rgba(143, 26, 98, 0.866); padding-left: 12px; " href="{% url 'wishlist:logout' %}" >Logout</a></button>
      </form>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      </div>
    </div>
  </div>
</nav>




<table class="table table-success table-striped">
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
    <tr>
        <th>{{barang.nama_barang}}</th>
        <th>{{barang.harga_barang}}</th>
        <th>{{barang.deskripsi}}</th>
    </tr>
    {% endfor %}
</table>
<h5>Sesi terakhir login: {{ last_login }}</h5>



{% endblock content %}